@media (max-width: 960px) {
    div.LoginForm-Wrapper {
        background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
        width: 720px;
        height: 540px;
        display: inline-flex;
        flex-direction: column;
    }
    div.LoginForm-RightSide {
        width: 100%;
        height: 100vh;
        display: inline-flex;
        flex-direction: column;
    }
    input[type="email"],
    input[type="password"] {
        width: 430px;
    }
    div.LoginForm-LiftSide {
        display: none;
    }
}

@media (max-width: 720px) {
    div.LoginForm-Wrapper {
        background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
        width: 540px;
        height: 500px;
        display: inline-flex;
        flex-direction: column;
    }
    div.LoginForm-RightSide {
        width: 100%;
        height: 100vh;
        display: inline-flex;
        flex-direction: column;
    }
    input[type="email"],
    input[type="password"] {
        width: 350px;
    }
    div.LoginForm-LiftSide {
        display: none;
    }
}

@media (max-width: 540px) {
    div.LoginForm-Wrapper {
        background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
        width: 320px;
        height: 540px;
        display: inline-flex;
        flex-direction: column;
    }
    div.LoginForm-RightSide {
        width: 100%;
        height: 100vh;
        display: inline-flex;
        flex-direction: column;
    }
    input[type="email"],
    input[type="password"] {
        width: 100%;
    }
    div.LoginForm-LiftSide {
        display: none;
    }
}