* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Vazirmatn;
    background-image: url(../images/Background/bg-light.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    font-family: Vazirmatn;
}

div.LoginForm {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div.LoginForm-Wrapper {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    width: 1024px;
    height: 512px;
    display: inline-flex;
    border-radius: 1rem;
    box-shadow: 0 0 2rem gray;
}

div.LoginForm-RightSide {
    width: 50%;
    height: 512px;
    display: inline-flex;
    flex-direction: column;
}

div.LoginForm-Header {
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

div.LoginForm-IconWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

div.LoginForm-Content {
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

input[type="email"],
input[type="password"] {
    cursor: pointer;
    padding: 10px;
    width: 333px;
    border-radius: 1.5em;
    outline: none;
    border: 1px solid #2980b9;
}

div.FormLogin-Checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

div.FormLogin-Submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

button.Btn-Submit {
    background-color: #6dd5fa;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    width: 100px;
    cursor: pointer;
    border-radius: 1.5em;
    border: 1px solid #2980b9;
    outline: none;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.3s;
}

button.Btn-Submit:hover {
    box-shadow: inset 7.5rem 0 0 0 #00bbff;
    color: white;
}

button.Btn-Submit:active {
    box-shadow: inset 7.5rem 0 0 0 #0171bb;
}

div.LoginForm-LiftSide {
    width: 50%;
    height: 512px;
}