* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Vazirmatn;
    ;
    background-image: url(/assets/img/FormLogin-BgLight.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.LoginForm {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div.LoginForm-Wrapper {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    width: 1024px;
    height: 512px;
    display: inline-flex;
    border-radius: 1rem;
    box-shadow: 0 0 2rem gray;
}

div.LoginForm-RightSide {
    width: 50%;
    height: 512px;
    display: inline-flex;
    flex-direction: column;
}

div.LoginForm-Header {
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

div.LoginForm-IconWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

div.LoginForm-Content {
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 333px;
    border-radius: 1.5em;
    border: 1px solid violet;
}

div.FormLogin-Checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

div.FormLogin-Submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

button.Btn-Submit {
    padding: 5px;
    font-size: 15px;
    align-self: center;
    width: 100px;
    cursor: pointer;
    border-radius: 1.5em;
    border: 1px solid violet;
}

div.LoginForm-LiftSide {
    width: 50%;
    height: 512px;
}